<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<style>
.modal-dialog.modal-xl.modal-dialog-centered {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin-top: 0;
    padding: 0px !important;
    border-radius: 0px;
    background: #242531; //linear-gradient(to right, #24243e, #302b63, #24243e);
}

.modal-xl .modal-content.text-center {
    background: transparent;
    border: none;
}
h3.create-only {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
h3.input-icon-addon{
  font-size: 3rem;
  text-align: left;
}
input#create-room-name {
    background: transparent;
    text-align: left !important;
    font-weight: 700;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid;
}
form h2 {
    color: #9a9a9a;
    font-size: 1.3rem;
    text-align: left;
    font-weight: 500;
    margin-bottom: 2rem;
}
input#create-room-submit {
  color: #ffffff !important;
  background: linear-gradient(140.88deg,#a62cf4 1.17%,#8127fd 88.49%);
  font-size: 1.2rem;
  padding: 7px 31px;
  border-radius: 5px;
  border: none;
  margin-top: 4rem;
}


div.fu {
    width: 100%;
    height: 140px;
    border: 2px dashed #6e7587;
    margin-bottom: 25px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 5px !important;
    position: relative;
}
div.fu p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 145px;
    color: #8e92ad;
    background-size: cover;
    background-repeat: no-repeat;
}
div.fu input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
      top: 0;
    left: 0;
}
.modal-header.text-right.closeout i {
    float: right;
    color: #fff;
    font-size: 3rem;
}

button.chooseprivacy{
      border: 2px solid #6d7587;
    color: #6d7587;
    font-weight: 900;
    font-size: 1.2rem;
}
button.chooseprivacy.sel {
    background: #fff;
    border: 2px solid #fff;
    color: #9d2af6;
}
button.choosewhen {
    border: 2px solid #6d7587;
    color: #6d7587;
    font-weight: 900;
    font-size: 1.2rem;
}
button.btn.btn-lg.choosewhen.sel {
    background: #fff;
    border: 2px solid #fff;
    color: #9d2af6;
}
.pickerbox{
  display: none;
}
.mt1em{
  margin-top: 1rem;
}
.form-group.amtform {
    display: inline-table;
}

input#ppvamt {
background: transparent;
    border: 2px solid #6d7487;
    height: 3.1rem;
    padding-bottom: 0.9rem;
    color: #fff;
    font-weight: 800;
    font-size: 1.3rem;
    padding-top: 0.1rem;
}
input#ppvamt:disabled {opacity: 0.2;}

small#ppvamtHelp {
    opacity: 0.2;
}
div#v-pills-tab a {
    margin: auto;
    background: none;
    color: #5f6576 !important;
    font-weight: 900;
    font-size: 2rem;
}

div#v-pills-tab a.show {color: #fff !important;}
</style>

<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content text-center">
    
    <div class="modal-header text-right closeout">
      <i class="fas fa-times"></i>
    </div>
    
    <div class="modal-body">


      <div class="row">


      
      <div class="col-5 mx-auto">


        <div class="card-body p-sm-6">
          <div class="card-title">
            <h3 class="create-only"><%= t("modal.create_room.title") %></h3>
            <!--<h3 class="update-only"><%= t("modal.room_settings.title") %></h3>-->
          </div>





        <div class="row">
  <div class="col-12">
    <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active show" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Basic</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Advanced</a>
    </div>
  </div>


  <div class="col-12">
    <div class="tab-content mt-5 pt-5" id="v-pills-tabContent">
      
      
       <div class="tab-pane fade active show" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

        <div class="fu">
            <input type="file" id="aviup" onchange="app.onFileUploadBanner(this)">
            <p>Upload an image to appear as your event banner</p>
          </div>


          <%= form_for(:room, url: rooms_path) do |f| %>
            <h2>What are you calling the Live Event?</h2>
            <div class="input-icon mb-2">
            
              <%= f.text_field :name, id: "create-room-name", class: "form-control text-center", value: "", placeholder: t("modal.create_room.name_placeholder"), autocomplete: :off %>
              <div class="invalid-feedback text-left"><%= t("modal.create_room.not_blank") %></div>
            </div>



             <h2 class="mt-0 pt-3">When do you want to start you Live Event</h2>

             <button type="button" onclick="app.toggle(2)" class="btn btn-lg choosewhen sel">Now</button>
               <button type="button" onclick="app.toggle(1)" class="btn btn-lg choosewhen">At a Scheduled Time</button>


              <div class="form-group mt1em pickerbox">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input name="room[live_at]" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>


           

            <div class="input-icon mb-2 hidden">
              <span onclick="generateAccessCode()" class="input-icon-addon allow-icon-click cursor-pointer">
                <i class="fas fa-dice"></i>
              </span>
              <%= f.label :access_code, t("modal.create_room.access_code_placeholder"), id: "create-room-access-code", class: "form-control" %>
              <%= f.hidden_field :access_code %>
              <span onclick="ResetAccessCode()" class="input-icon-addon allow-icon-click cursor-pointer">
                <i class="far fa-trash-alt"></i>
              </span>
            </div>




       </div>
      
      
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

       <h2 class="mt50 pt-5">Sponsorship Customization</h2>

            <div class="row">
              <div class="col-4">
                 <div class="fu">
                  <input type="file" id="aviup" onchange="app.onFileUploadStepRepeat(this)">
                  <p>Upload Step & Repeat</p>
                </div>
              </div>
              <div class="col-4">
                 <div class="fu">
                  <input type="file" id="aviup" onchange="app.onFileUploadAd(this)">
                  <p>Upload Sponsor Logo</p>
                </div>
              </div>
              <div class="col-4">
                   <div class="form-group amtform">
                    <input type="text" placeholder="$0.00 Ticket Amount" onkeypress="app.formatMoneyBlock()" class="form-control" id="addcta"  aria-describedby="addctaHelp">
                    <small id="addctaHelp" class="form-text text-muted">CTA for Ad.</small>
                  </div>
                   <div class="form-group amtform">
                    <input type="text" placeholder="$0.00 Ticket Amount" onkeypress="app.formatMoneyBlock()" class="form-control" id="linkcta"  aria-describedby="linkctaHelp">
                    <small id="linkctaHelp" class="form-text text-muted">URL to Link</small>
                  </div>
                  
              </div>
              
            </div>

        
             <h2 class="mt50 pt-5">How do you want viewers to access your Live Event</h2>

               <button type="button" onclick="app.privacySet(1)" class="btn btn-lg chooseprivacy sel">Public</button>
               <button type="button" onclick="app.privacySet(2)" class="btn btn-lg chooseprivacy">Private</button>
               <button type="button" onclick="app.privacySet(3)" class="btn btn-lg chooseprivacy">PPV</button>


               <div class="form-group amtform">
                <input type="text" placeholder="$0.00 Ticket Amount" onkeypress="app.formatMoneyBlock()" class="form-control" id="ppvamt" disabled aria-describedby="ppvamtHelp">
                <small id="ppvamtHelp" class="form-text text-muted">Set the amount.</small>
              </div>

      </div>


    </div>
  </div>



</div>

 
      
         
  
          


            


            <div class="hidden">

            <% if Rails.configuration.room_features.include? "mute-on-join" %>
              <label class="custom-switch pl-0 mt-3 mb-3 w-100 text-left d-inline-block">
                <span class="custom-switch-description"><%= t("modal.room_settings.mute")%></span>
                <%= f.check_box :mute_on_join, class: "custom-switch-input", checked: false %>
                <span class="custom-switch-indicator float-right cursor-pointer"></span>
              </label>
            <% end %>

            <% if Rails.configuration.room_features.include? "require-moderator-approval" %>
              <label class="custom-switch pl-0 mt-3 mb-3 w-100 text-left d-inline-block">
                <span class="custom-switch-description"><%= t("modal.room_settings.require_approval")%></span>
                <%= f.check_box :require_moderator_approval, class: "custom-switch-input", checked: false %>
                <span class="custom-switch-indicator float-right cursor-pointer"></span>
              </label>
            <% end %>
            
            <% if Rails.configuration.room_features.include? "anyone-can-start" %>
              <label class="custom-switch pl-0 mt-3 mb-3 w-100 text-left d-inline-block">
                <span class="custom-switch-description"><%= t("modal.room_settings.start")%></span>
                <%= f.check_box :anyone_can_start, class: "custom-switch-input", checked: false %>
                <span class="custom-switch-indicator float-right cursor-pointer"></span>
              </label>
            <% end %>

            <% if Rails.configuration.room_features.include? "all-join-moderator" %>
              <label class="custom-switch pl-0 mt-3 mb-3 w-100 text-left d-inline-block">
                <span class="custom-switch-description"><%= t("modal.room_settings.join_moderator")%></span>
                <%= f.check_box :all_join_moderator, class: "custom-switch-input", checked: false %>
                <span class="custom-switch-indicator float-right cursor-pointer"></span>
              </label>
            <% end %>

            <label id="auto-join-label" class="create-only custom-switch pl-0 mt-3 mb-3 w-100 text-left d-inline-block ">
              <span class="custom-switch-description"><%= t("modal.create_room.auto_join") %></span>
              <%= f.check_box :auto_join, class: "custom-switch-input", checked: false %>
              <span class="custom-switch-indicator float-right cursor-pointer"></span>
            </label>

          </div>



          <div class="mt-4">
            <%= f.submit t("modal.create_room.create"), id: "create-room-submit", onclick: "app.makeevent(); return false;", class: "create-only btn btn-primary btn-block" %>
           <!-- <%= f.submit t("modal.room_settings.update"), id: "create-room-submit", class: "update-only btn btn-primary btn-block" %> -->
          </div>
          <% end %>
        </div>
        <div class="card-footer">
          <p class="create-only"><%= t("modal.create_room.free_delete") %></p>
         
        </div>



        </div>
      </div>





      </div>
    </div>
  </div>
</div>
