<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<style>

@import url("https://use.typekit.net/hvq7huk.css");

.card, .card2 {
  width: 350px;
  box-shadow: none;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s ease-out all;
}
.card:hover, .card2:hover {
  -webkit-box-shadow: -1px -1px 16px -4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px -1px 16px -4px rgba(0, 0, 0, 0.44);
  box-shadow: -1px -1px 16px -4px rgba(0, 0, 0, 0.44);
  transition: 0.3s ease-out all;
}

.card {
  transition: 0.3s ease-out all;
    background: #2E2F37;
    padding: 30px 20px;
    border-radius: 25px;
    box-shadow: 4px 6px 17px 1px #2e2f386b;
    max-width: 100%;
}

.card2 {
  opacity: 0.8;
  transition: 0.3s ease-out all;
}

.image {
  display: flex;
  width: 100%;
  background-size: cover;
  background-position-y: center;
  height: 180px;
  border-radius: 25px;
}
.image .alert {
  align-self: end;
  margin: 10px;
  background-color: #8bc34a;
  color: white;
  padding: 6px 8px;
  font-size: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

.des {
  padding: 12px;
  text-align: left;
}
.des .subtitle {
    color: white;
    text-align: left !important;
    text-shadow: 0px 2px 9px #1f202724;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}
h5 {
    color: #8387a5;
    text-align: left;
}
.des h1 {
  margin: 5px 0;
}
.des h1 span {
  font-weight: normal;
  margin-left: 10px;
  color: SeaGreen;
}
.des p {
  line-height: 22px;
}

hr {
  border: 1px solid Gainsboro;
  opacity: 0.3;
}

.adding, .ordered {
  display: inline-block;
  width: 100%;
  padding: 12px 0 12px 12px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.adding {
  background-color: white;
  color: grey;
}
.adding:hover {
  background-color: LavenderBlush;
  color: black;
  cursor: pointer;
}

.ordered {
  background-color: PaleVioletRed;
  color: white;
  cursor: pointer;
}
.livedivide {
    padding-top: 30px;
}
.livenow {
    color: #fff;
    text-align: left;
}

div.radi-2 .card {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
div.radi-1 .card {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px !important;
    background: #202226;
    height: 97.6%;
}
a.appcues-button-success.appcues-button {
    padding: 10px 20px !important;
    background-color: rgb(71, 207, 115);
    color: rgb(8, 8, 8) !important;
    font-weight: 800;
}

section .canvas {
    background: #fff;
    padding-bottom: 90px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 30px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

div.zone h2 {
    color: #000;
    font-weight: 700;
}


cue section {
    border-top: 9px solid #47cf73;
}
.title-yellow{
  color: #ffdd40;
}
.menuitemp {
    color: #fff;
    text-align: left;
    font-size: 1.2rem;
}
.container-fluid.dk {
    background: #000;
    padding-top: 10em;
    padding-bottom: 15em;
}
.whiteboxtxt{
  color: #fff;
  font-size: 5rem;
  width: 70%;
  margin: auto;
  margin-bottom: 25vh;
}
.logoblox img {
  margin: 9rem 2rem 0px;
}
p.introcopy {
    color: #838080;
    margin-top: 3rem;
    margin-bottom: -2rem;
}
video.upto4 {
    margin-left: -17vw;
    width: 130%;
}
video.upto4breakout{
  margin-right: -17vw;
  width: 130%;
  margin-left: 5vw
}

h3.subhead {
    color: white;
    font-size: 4rem;
}

p.subbody {
    color: #fff;
    font-size: 1.7rem;
}
ul.itemsfeat i {
    color: #a62cf4;
    font-size: 2.5rem;
    display: block;
    margin-bottom: 1rem;
}
ul.itemsfeat li {
    color: #fff;
    font-size: 1.2rem;
    display: block;
}
ul.itemsfeat {
 padding: 0;
    list-style-type: none;
}

ul.itemsfeat li {list-style-position: inside;margin-bottom: 3rem;}

.itemsfeat b {
     display: block;
     font-size: 1.5rem;
    font-weight: 900;
}
span.shake {
    font-size: 4rem;
}
.mt-55x {
    margin-top: 13vh;
}
.card.cardcase {
  background: #fff;
  box-shadow: 1px 3px 15px 4px #46cf737d;
  width: 100%;
}

div.cardcase h5 {
    color: #000;
    font-size: 2rem;
    font-weight: 900;
}

div.cardcase p {
    font-size: 1.3rem;
}
</style>











<% exceeds_limit = current_room_exceeds_limit(@room)%>
<% if exceeds_limit%>
  <div class="alert alert-danger alert-dismissible text-center mb-0">
    <%= t("room.room_limit_exceeded", difference: @diff) %>
  </div>
<% end %>
<div class="background pb-1">
  <div class="container mt-8 mb-6 text-center">



  <!-- top panel -->
  <div class="row">
    
    
    
  <div class="col-2 radi-1 pl-0 pr-0">
    <div class="card">

    <h3 class="livenow title-yellow">
    Explore
    </h3>
    <p class="menuitemp">Picks</p>
    <p class="menuitemp">Popular</p>
    <p class="menuitemp">Topics</p>

    </div>
  </div>







  <div class="col-3 pl-0 radi-2">
    <div id="card" class="card">

   
   
   <h3 class="livenow">
   Trending Live Now
   </h3>
   
    <div class="livedivide">
    <div class="image" 
    style='background-image: url("https://images.unsplash.com/photo-1519699047748-de8e457a634e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");'
    >
      <span class="alert">
      Lead Netowrk
      </span>
    </div>
    <div class="des">
      <span class="subtitle">
      Blockchain Networking Group
      </span>
      <h5>@CryptoKing</h5>
    </div>
  </div>





  <div class="livedivide">
  <div class="image" 
  style='background-image: url("https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");'
  >
    <span class="alert">
    Lead Netowrk
    </span>
  </div>
  <div class="des">
    <span class="subtitle">
    Blockchain Networking Group
    </span>
    <h5>@CryptoKing</h5>
  </div>
</div>





<div class="livedivide">
<div class="image" 
style='background-image: url("https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2098&q=80");'
>
  <span class="alert">
  Lead Netowrk
  </span>
</div>
<div class="des">
  <span class="subtitle">
  Blockchain Networking Group
  </span>
  <h5>@CryptoKing</h5>
</div>
</div>





  </div>

  </div>
<!--// trending -->




<div class="col-3 pl-0 radi-2">
    <div id="card" class="card">

   
   
   <h3 class="livenow">
   Upcoming
   </h3>
   
    <div class="livedivide">
    <div class="image" 
    style='background-image: url("https://images.unsplash.com/photo-1519699047748-de8e457a634e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");'
    >
      <span class="alert">
      Lead Netowrk
      </span>
    </div>
    <div class="des">
      <span class="subtitle">
      Blockchain Networking Group
      </span>
      <h5>@CryptoKing</h5>
    </div>
  </div>





  <div class="livedivide">
  <div class="image" 
  style='background-image: url("https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");'
  >
    <span class="alert">
    Lead Netowrk
    </span>
  </div>
  <div class="des">
    <span class="subtitle">
    Blockchain Networking Group
    </span>
    <h5>@CryptoKing</h5>
  </div>
</div>





<div class="livedivide">
<div class="image" 
style='background-image: url("https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2098&q=80");'
>
  <span class="alert">
  Lead Netowrk
  </span>
</div>
<div class="des">
  <span class="subtitle">
  Blockchain Networking Group
  </span>
  <h5>@CryptoKing</h5>
</div>
</div>





  </div>

  </div>
  <!-- //upcoming -->


<div class="col-4 pl-0 pr-0">



<cue class="active appcues-actions-hidden">
    <section>
        <div class="canvas">

          <div class="row">
            <div class="col-12">
              <% current_user.ordered_rooms.each do |room| %>
                <% if current_user.main_room == room %>  
        
                <% else %>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <%= link_to room do %>
                    <%= render "rooms/components/room_block", room: room %>
                  <% end %>
                </div>
                <% end %>
              <% end %>
                    
              <% if shared_access_allowed %>
                <% current_user.shared_rooms.each do |room| %>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <%= link_to room do %>
                      <%= render "rooms/components/shared_room_block", room: room %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

            <div class="row-container">
                <div class="row" style="display: inline-block; width: 100%;">
                    <div class="zone-container" style="display: inline-block; width: 100%; float: left;">
                        <div class="zone">
                            <div class="zone-content">
                                <div class="rich-text" style="margin-top: 20px;">
                                    <style>
                                        .rich-text strong {
                                            color: inherit !important;
                                        }
                                    </style>
                                    <div>
                                        <h2 style="text-align: center;">Want to create your own event?</h2>
                                        <p>
                                        It's easy. Doesn't take much.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-container">
                <div class="row" style="display: inline-block; width: 100%;">
                    <div class="zone-container" style="display: inline-block; width: 100%; float: left;">
                        <div class="zone">
                            <div class="zone-content">
                                <div class="button-wrapper appcues-actions-right" style="width: 100%; text-align: center; margin-top: 5px; margin-bottom: 5px;">
                                    <a class="appcues-button-success appcues-button" 
                                    data-toggle="modal" data-target="#createRoomModal"
                                        style="text-align: center; padding: 8px 18px; background-color: rgb(71, 207, 115); color: rgb(8, 8, 8); text-decoration: none;">Create an Event</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="appcues-actions hidden"></div>
</cue>







  </div>
</div>

  <!-- // top panel -->





    <div class="row pt-7 pt-sm-9">
      <div class="col-lg-8 col-sm-12">

        <div id="room-title" class="display-3 form-inline <%= 'edit_hover_class' if current_user.main_room != @room %>" data-path="<%= update_settings_path(@room) %>">
          <% if current_user.main_room == @room %>
           
          <% else %>
            <h1 contenteditable=false id="user-text" class="display-3 text-left mb-3 font-weight-400"><%= @room.name %></h1>
            <a><i id="edit-room" class="fa fa-edit align-top home-indicator ml-2" data-edit-room="<%= @room.uid %>"></i></a>
          <% end %>
        </div>
        <!--
        <h4 class="text-left mb-6"><%= @room.sessions %> <%= t("room.sessions") %> | <%= @recordings.length %> <%= t("room.recordings") %></h4>
        -->

        <% unless exceeds_limit %>
        <% if current_user.main_room == @room %>  

        <% else %>
        <label class="form-label"><%= t("room.invite_participants") %></label>
          <div class="row">
            <div class="col-lg-7 col-md-12 mt-2">
              <div class="input-icon invite-link-input">
                <span class="input-icon-addon">
                  <i class="fas fa-link"></i>
                </span>
                <input id="invite-url" type="text" class="form-control w-100" value="<%= request.base_url + @room.invite_path %>" readonly="">
              </div>
            </div>
            <div class="col-lg-5 col-md-12">
              <div class="row">
                <div class="col-sm-6">
                  <a id="copy" class="btn btn-primary btn-block mt-2">
                    <i class="fas fa-copy"></i>
                    <%= t("copy") %>
                  </a>
                </div>
                <div class="col-sm-6 pl-0">
                  <% if Rails.configuration.enable_google_calendar_button %>
                    <a href="<%= google_calendar_path %>" target="__blank" id="schedule" class="btn btn-primary btn-block mt-2">
                      <i class="fas fa-calendar-plus"></i>
                      <%= t("add_to_google_calendar") %>
                    </a>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="offset-lg-1 col-lg-3 col-sm-12 force-bottom mt-5">
        <% if @room_running %>
          <%= button_to t("room.join"), room_path(@room), class: "btn btn-primary btn-block px-7 start-button float-right", "data-disable": "" %>
        <% else %>
          <% unless exceeds_limit %>
            <%= button_to t("room.start"), start_room_path(@room), class: "btn btn-primary btn-block px-7 start-button float-right", "data-disable": "" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="room_block_container" class="row pt-7 pb-5">
     

    
    </div>
  </div>
</div>

<%= render "shared/sessions", recordings: @recordings, pagy: @pagy, only_public: false, shared_room: @shared_room, user_recordings: false, title: t("room.recordings")%>

<%= render "shared/modals/delete_room_modal" %>

<%= render "shared/modals/create_room_modal" %>

<% if shared_access_allowed %>
  <%= render "shared/modals/share_room_modal" %>
  <%= render "shared/modals/remove_access_modal" %>
<% end %>

<script>
function dopay(){
var stripe = Stripe('pk_test_KLt0DZtasa7LviYi4dTCstWD');
stripe.redirectToCheckout({
  // Make the id field from the Checkout Session creation API response
  // available to this file, so you can provide it as parameter here
  // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
  sessionId: '{{CHECKOUT_SESSION_ID}}'
}).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
});
            }
</script>